################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASEportfolio/FileContentIndex/433d18d1-0a9e-44ff-a3be-939df53cf25d.vsidx
/.vs/ASEportfolio/FileContentIndex
/.vs/ASEportfolio/v17
/.vs
